html{
    height: 100%;
}

body{
    background-color: #000000;
    background-image: url(images/minimalist-background.jpg);
    background-size: 1024px 768px;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 0px;
    text-align: center;
    color:white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 14px;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 600px;
    padding-left: 240px;
    padding-right: 240px;
}

footer{
    background-color: rgba(0, 0, 0, 0);
    padding-top: 450px;
    padding-bottom: 50px;
}

h1{
    font-size: 84px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    font-size: 10px;
    text-align: center;
    color: rgb(163, 163, 163);
}